.register-container {
    display: flex;
    height: 100vh; 
    
}

.register-image {
    flex: 1;
    background-image: url('../../assets/owner.jpg'); 
    background-size: cover;
    background-position: center;
}

.register-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  40px 20px;
    background: linear-gradient(to right, #7c117c, #e65cdd);
    color: black;
    border-radius: 0 10px 10px 0;
     overflow-y: auto;  
    height: 100vh;
    box-sizing: border-box;
    
}

.main-container {
    width: 100%;
    max-width: 520px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    color: white;
    border-radius: 40px;
    padding: 50px 40px ; 
    box-sizing: border-box;
    min-height: 80vh;
    /* grid-row: 2; */
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn1 {
    width: 100%;
    padding: 10px;
    background-color: white;
    color:black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn1:hover {
    background-color: #f8baf3;
} 


