.Navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #4a72aa;
    padding: 10px 3%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.searchIcon {
    height: 20px;
    width: 20px;
    margin: top 30px;
}

.toggleIcon {
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.Search-box{
    flex: 0 1 auto;
}
.options {
    flex: 0 1 auto;
    list-style:none;
    text-align: center;
}

.options li {
    display: inline-block;
    margin: 10px 10px;
    font-size: 28px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Search-box{
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}
.Search-box input{
    padding: 6px;
    background:transparent;
    border: 0;
    outline: 0;
    color: #bcbc7c;
    font-size: 18px;
    max-width: 200px;

}
.Search-box input::placeholder{
    color: #fff;
}

